* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Manrope'; */
}
.pengajuanLaporan_container {
    background-color: #EFEFEF;
    width: 150vh;
    height: 110vh;
    border-radius: 6px;
    margin-bottom: 20px;
}

.pengajuanLaporan_container .nameheader {
    display: flex;
    margin-bottom: 2vh;
    padding-top: 2vh
}
.pengajuanLaporan_container .nameheader .rightcp {
    margin-left: 51vw;
    margin-top: 2vh;
    padding-top: 2vh;
}

.pengajuanLaporan_container .nameheader .rightcp {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    padding: 5px 0;
    margin-right: 30px;
}

.pengajuanLaporan_container .nameheader .rightcp input[type=text] {
    border: 1px solid #808080; 
    width: 260px;
    height: 25px; 
    font-size: 13px;
    font-family: 'Inter';
    margin-right: 10px;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: transparent;
    display: inline;
    top: 0;
}

.pengajuanLaporan_container .nameheader .rightcp  .search-icon {
    position: absolute;
    display: inline-flex;
    right: 8vh;
    color: #808080;
}

.pengajuanLaporan_container .nameheader .rightcp .btn-sort {
    margin: auto;
    width: 26px;
    height: 25px;
    background-color: #8467FF;
    color: white;
    border-radius: 5px;
}
.pengajuanLaporan_container .card-bar {
    width: 140vh;
    height: 246px;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 4vh;
    background: #f8f8f8;
    border-radius: 1vw;
    padding-top: 6vh;
    padding-bottom: 6vh
}

.glass-table .ag-row {
    background-color: white;

}

.pengajuanLaporan_container .card-bar p {
    margin: auto;
    opacity: 0.6;
}

.step-status {
    margin: auto;
}

.step-bar {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.progress .progress-error {
    color: red;
    background-color: red;
}

.step-bar .bar {
    width: 15rem;
    height: 1.6rem;
    border-radius: 40px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
    background-color: #EFEFEF;
}

.step-bar .bar.success {
    background-color: rgb(42, 135, 42);
}

.step-bar .bar.reject {
    background-color: rgb(215, 93, 93);
}

.step-bar .step-label {
    margin-top: 5px;
    text-align: center;
    font-weight: 600;
    width: 15rem;
    height: max-content;
    justify-content: center;
    padding: 0 20px;
    line-height: 1.3;
}