/* .glass-table .ag-row {
    background-color: white;
    font-size: 10px;
    cursor: pointer;
}
.glass-table .my-header-class{
    z-index: 99999;
    position: fixed;
    height: 100px;
    margin-top: -50px !important; 
}
.glass-table .ag-row-odd {
    background-color:  rgb(236, 236, 236);
} */