@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.selection A.active .notifikasi-selection .name-selection {
    color: #6E49E9;
    opacity: 50px; /* Menggeser teks ke kanan */
}

.selection A.active .notifikasi-selection .svg-icon {
    stroke: #6E49E9;
}

.notifikasi-item .subnotifikasi {
    left: 100%; /* Menyesuaikan jarak sesuai kebutuhan */
}

A.active .sidebars {
    background-color: #e1e1e1b2;
}

.dropdown.dropdown-left .btn {
    color: white;
    text-transform: capitalize;
    background-color: #f56d59;
    border-radius: 40px;
    border: none;
    height: 1rem;
    margin-left: 120px;
}

/* navbar.css */

.notifikasi-count {
    position: absolute;
    top: 15px; /* Sesuaikan posisinya di atas ikon */
    right: 111px; /* Sesuaikan posisinya di kanan ikon */
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: black;
    transition: display 0.3s ease; /* Transisi agar perubahan tampilan halus */
}
  
.notifikasi-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/* Menambahkan margin kiri negatif */
    padding: 20px 25px 7px 25px;
    margin-left: -20px;
}


A.active .notifikasi-selection {
    background-color: #F5F5F5;
    border-radius: 15px 15px 0 0;
}

.notifikasi-selection .name-selection {
    font-weight: 600;
    color: white;
    font-size: 15px;
    font-family: 'Exo';
    transform: translateX(10%);
}

/* Saat SVG dihover */
/* .notifikasi-selection:hover .name-selection {
    color: #6E49E9;
    stroke: #6E49E9;
}

.notifikasi-selection:hover .svg-icon {
    stroke: #6E49E9;
} */

/* Saat SVG tidak dihover */


/* .selection A.active {
    color: rgba(132, 103, 255, 0.80);
}
 */

.notifikasi-count.hidden {
    display: none; /* Menyembunyikan elemen dengan class hidden */
}

.selection A.active .notifikasi-selection .name-selection {
    color: #6E49E9;
    opacity: 1;
    font-size: 15px;
    font-family: 'Exo';
}

.selection A.active .notifikasi-selection svg {
    stroke: #6E49E9;
    fill: #6E49E9;
}

.notifikasi-selection svg {
    fill: #8A8A8B;
}

.input-icon {
    position: relative;
}

.iconify {
    position: absolute;
    left: 10px; /* Jarak antara ikon dan sisi kiri input */
    top: 50%; /* Posisi vertikal tengah ikon */
    transform: translateY(-50%); /* Pusatkan ikon secara vertikal */
    color: #7E7F90; /* Warna ikon (sesuaikan dengan kebutuhan Anda) */
    font-size: 16px; /* Ukuran ikon (sesuaikan dengan kebutuhan Anda) */
}

.input {
    padding-left: 30px; /* Jarak antara ikon dan teks input */
    /* Gaya input Anda */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}