/* .operasional-rutin-pwk h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
} */

.container-kickoff-meeting {
    gap: 1vh;
    margin-bottom: 10px;
}

.container-kickoff-meeting label {
    font-weight: 600;
}

.container-kickoff-meeting input {
    background-color: #FFFFFF;
    border: none;
    /* width: 20vh; */
    height: 5vh;
    margin-top: 2px;
    padding: 2px 9px;
    border-radius: 5px;
    background: #F8F8F9;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
}
.container-kickoff-meeting .custom-dropdown-coa {
    background-color: #FFFFFF;
    border: none;
    width: 9vw;
    height: 5vh;
    margin-top: 2px;
    padding: 2px 9px;
    border-radius: 5px;
    background: #F8F8F9;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
}

.container-kickoff-meeting .dropdown-selected {
    height: 4.5vh;
}

.container-kickoff-meeting .dropdown-options-coa {
    padding: 7px;
    height: 25vh;
    width: 8vw;
    overflow-y: auto;
    position: absolute;
    z-index: 3;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.container-kickoff-meeting .custom-dropdown-coa .dropdown-selected {
    align-items: center;
}

.container-kickoff-meeting .dropdown-options-coa .option {
    padding-left: 12px;
}

.container-kickoff-meeting .dropdown-options-coa .option:hover {
    background-color: rgb(87, 129, 255);
    padding-left: 14px;
    color: white;
    border-radius: 5px;
}

.tambah-data-1 {
    align-items: center;
}

.tambah-data-1 button {
    background-color: rgba(132, 103, 255, 0.80);    
    color: #fff;
    text-transform: capitalize;
    position: absolute;
    width: 80px;
    height: 5vh;
    border-radius: 5px;
    margin-top: 26px;
    margin-left: 10px;
}

.btn-simpan-kickoff-meeting button {
    background-color: rgba(132, 103, 255, 0.80);    
    color: #fff;
    text-transform: capitalize;
    position: absolute;
    width: 80px;
    height: 6vh;
    border-radius: 5px;
    margin-top: 26px;
}

.detail-total-kickoff-meeting {
    padding: 5px 10px;
    width: 15vw;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 229, 127);
    color: black;
    font-size: 15px;
    font-weight: 700;
}