
/*======== css untuk judul tabelnya ========*/
.report-container .barchartReport-container .top-table {
    /*css untuk mengatur semua elemen yang ada diatas tabel*/
    display: flex;
    justify-content: space-between;
    width: 145vh;
    margin-left: 20px;
    background-color: #EFEFEF;
    justify-content: end;
}

.report-container .barchartReport-container .top-table .search-container {
    /*css untuk mengatur list planning, kotak search, icon sorting*/
    position: relative;
    display: flex;
}

.report-container .barchartReport-container .top-table .search-container .search-input {
    /*css untuk mengatur jarak antara kotak search dengan sorting icon*/
    justify-content: space-between;
}

.report-container .barchartReport-container .top-table .search-input .form-control {
    /*css untuk mengatur kotak search input*/
    padding: 10px 30px 10px 10px;
    width: 260px;
    height: 25px;
    border: 1px solid #808080;
    background-color: transparent;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Inter';
    color: #808080;
    margin-right: 20px;
    margin-top: -5px;
}

.report-container .barchartReport-container .top-table .search-container .search-input .search-icon {
    /*css untuk mengatur search icon*/
    position: absolute;
    top: 55%;
    right: 3.6rem;
    transform: translateY(-50%);
    color: #808080;
    margin-top: -2px;
}

.report-container .barchartReport-container .top-table .search-container .btn-sort {
    margin: auto;
    width: 26px;
    height: 25px;
    background-color: #8467FF;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: -5px;
}

/*======== css untuk mengatur kotak income dan excome ampunt ========*/


/*======== kotak income ========*/
.report-container .inex-container .income-container {
    /*css untuk mengatur kotak income excome*/
    width: 242px;
    height: 68px;
    background-color: rgba(193, 83, 62, 0.64);
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.20);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

/*======== kotak excome ========*/
.report-container .inex-container .excome-container {
    /*css untuk mengatur kotak income excome*/
    width: 242px;
    height: 68px;
    flex-shrink: 0;
    background-color: #EB9627A1;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.20);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

/*======== css untuk piechart income, tabel, dan piechart excome ========*/
.pietab-inex-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.report-container .barchart-aruskas-container {
    /* Aturan CSS untuk mengatur tampilan grafik Bar Chart Arus Kas */
    width: 100%;
    /* Sesuaikan dengan ukuran yang diinginkan */
    height: 400px;
    /* Sesuaikan dengan ukuran yang diinginkan */
    margin-top: 20px;
    /* Sesuaikan dengan jarak dari elemen di atasnya */
    /* Tambahkan properti lain sesuai kebutuhan Anda */
}

/*======== css untuk all report card ========*/
.keuanganModul-dashboard-container .all-report-card {
    /*untuk mengatur semua report card agar sejajar*/
    display: flex;
    justify-content: center;
}

.keuanganModul-dashboard-container .all-report-card .report-case {
    /*untuk mengatur agar semua 3 card memiliki warna dan ukuran yang sama*/
    margin-top: 3vh;
    width: 31vw;
    height: 18vh;
    margin: 18px 18px 18px 18px;
    border-radius: 0.7vw;
    background-color: #FFFFFF;
}

.keuanganModul-dashboard-container .all-report-card .report-case .card-title {
    margin-left: 1vw;
    margin-top: 2vh;
    font-size: 1.2vw;
    color: black;
}

.keuanganModul-dashboard-container .all-report-card .report-case .card-total {
    margin-top: 1vh;
    font-size: 2rem;
    font-weight: 650;
    float: left;
    background-color: white;
    margin-left: 30px;
}

/*======== css untuk chart total dan grafik keuangan dashboard ========*/
.keuanganModul-dashboard-container .chart-total-keuanganModul {
    background: transparent;
    border-radius: 1vw;
    margin-left: 20px;
    margin-right: 4vw;
    margin-top: 3vh;
    width: 135.5vh;
    height: 10vh;
}

.keuanganModul-dashboard-container .chart-total-keuanganModul .card-total-container {
    background-color: #FFFFFF;
    border-radius: 0.7vw;
    padding-left: 2rem;
    
}

.keuanganModul-dashboard-container .chart-total-keuanganModul .card-total-container .total-title {
    font-size: 18px;
    color: #828282;
    font-weight: 600;
    padding: 20px 20px 0 0;
}
.keuanganModul-dashboard-container .chart-total-keuanganModul .card-total-container .card-total2 {
    font-size: 35px;
    color: #0B1354;
    font-weight: 600;
}
.keuanganModul-dashboard-container .chart-total-keuanganModul .card-total-container .card-total3 {
    font-size: 18px;
    color: #828282;
    padding-bottom: 10px;
}
.keuanganModul-dashboard-container .chart-total-keuanganModul .grafik-keuangan-dashboard-container {
    margin-top: -8px;
}

.barchartInexReport {
    padding-top: 74vh;
}