input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*css untuk button tambah akun*/
.form-transfer-container {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 5px;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    background-color: #fff;
}

/* 
.form-transfer-container .btn-tambah-akun button {
    width: 76px;
    height: 25px;
    border-radius: 4px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    background-color: #4E558D;
    color: white;
    float: right;
    margin-right: 8px;
    position: relative;
} */

/*css untuk tabel form popup*/
.form-transfer-container .transfer-form {
    /*untuk mengatur radius pop up form*/
    border-radius: 10px;
    width: 85vh;
    height: 85vh;
    background-color: #fff;
    text-align: left;
    padding: 25px 20px;
    overflow: hidden;
}

.form-transfer-container .form .headakun {
    /*untuk mengatur teks dan button secara keseluruhan*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.form-transfer-container .form .headakun button {
    /*untuk mengatur button x saja*/
    background-color: #AE0000;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    width: 25px;
    height: 25px;
    float: right;
}

.form-transfer-container .form .headakun h2 {
    /*untuk mengatur judul form*/
    color: #6E49E9;
    font-size: 18px;
}

.form-transfer-container .form .headakun span {
    /*untuk mengatur span pada h2*/
    font-size: 8px;
}

/*css untuk isian form*/
/* .form-transfer-container .isi-form p {
    color: #000000;
    font-weight: 600;
    font-size: 16px;
} */

textarea {
    resize: none;
}
.form-transfer-container .input-form-transfer label {
    font-size: 16px;
    font-style: normal;
    line-height: 2;
    font-weight: 600;
}
.form-transfer-container .input-form-transfer input {
    /*untuk kotak teks input*/
    background-color: #FFFFFF;
    border: none;
    width: 37vh;
    height: 5.5vh;
    margin-top: 2px;
    margin-bottom: 7px;
    padding: 12px 10px;
    border-radius: 5px;
    background: #F8F8F9;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    font-size: 16px;
    font-weight: 600;
}

.form-transfer-container .input-form-transfer select {
    /*untuk kotak teks input*/
    background-color: #FFFFFF;
    border: none;
    width: 37vh;
    height: 5.5vh;
    margin-top: 2px;
    margin-bottom: 7px;
    padding: 0 7px;
    border-radius: 5px;
    background: #F8F8F9;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    font-size: 16px;
    font-weight: 600;
}



/*css untuk button add-acc*/
.form-transfer-container .btn-add-acc {
    position: relative; /* Buat parent relative untuk tombol */
    width: 100%; /* Atur lebar sesuai kebutuhan */
    height: 100%; /* Atur tinggi sesuai kebutuhan */
}

.form-transfer-container .btn-kirim-data button {
    background-color: rgba(132, 103, 255, 0.80);    
    color: #fff;
    text-transform: capitalize;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, 0%); /*Geser tombol ke tengah*/
    width: 80px;
    height: 42px;
    border-radius: 5px;
}

/* .form-transfer-container .modal-box label {
    text-align: left;
}

.container-bukti {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.box-bukti {
    display: flex;
    width: 160px; 
    height: 80px;
    border-radius: 5px;
    border: 1px solid #808080;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
}

.container-bukti p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.icon-file {
    margin: auto;
    color: #D9D9D9;
}

.container-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 15px;
}

.btn-upload {
    width: 46px;
    height: 31px;
    border-radius: 4px;
    background: #3B528D;
    color: #FFF;
    margin-top: 11px;
} */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Warna latar belakang semi-transparan */
    z-index: 2; /* Z-index lebih tinggi dari form popup */
}

.form-transfer-container .container-bukti {
    display: flex;
    flex-direction: row;
}

.form-transfer-container .box-bukti {
    display: flex;
    width: 160px; 
    height: 80px;
    border-radius: 5px;
    border: 1px solid #808080;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
}

.form-transfer-container .container-bukti p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form-transfer-container .icon-file {
    margin: auto;
    color: #D9D9D9;
}

.form-transfer-container .container-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 15px;
}

.form-transfer-container .container-2 label {
    width: 46px;
    height: 31px;
    border-radius: 4px;
    background: #3B528D;
    color: #FFF;
    margin-top: 11px;
    padding: auto;
    cursor: pointer;
    text-align: center;
}

.form-transfer-container textarea {
    font-size: 16px;
    font-weight: 600;
}

.custom-dropdown-coa {
    background-color: #FFFFFF;
    border: none;
    width: 37vh;
    height: 5.5vh;
    margin-top: 2px;
    margin-bottom: 7px;
    padding: 2px 12px;
    border-radius: 5px;
    background: #F8F8F9;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
}

.dropdown-selected {
    height: 5vh;
}

.dropdown-options-coa {
    padding: 7px;
    height: 150px;
    width: 33.5vh;
    overflow-y: auto;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.custom-dropdown-coa .dropdown-selected {
    align-items: center;
}

.dropdown-options-coa .option {
    padding-left: 12px;
}

.dropdown-options-coa .option:hover {
    background-color: rgb(87, 129, 255);
    padding-left: 14px;
    color: white;
    border-radius: 5px;
}

